html {
  margin: 0
}

body {
  width: 100vw;
  margin: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App header {
  width: 100%;
  background-color: rgb(254, 203, 0);
  color: white;
}

.App header h1 {
  margin: 0;
  padding: 5vh 0;
  font-size: 3rem;
}

.buttonSection {
  margin: 1rem;
}

.quoteSection > *{
  margin: auto;
}